.group-new{
  width: 100vw;
  height: 100vh;
  padding: 50px 25%;
  background-color: ivory;
  
  &__contents{
    width: 100%;
    height: 580px;
    box-shadow:0px 0px 10px rgb(253, 171, 89);
    &__header{
      width: 100%;
      height: 100px;
      background-color:rgb(253, 171, 89);
      padding: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__name{
        width: 70%;
        font-size: 40px;
        margin-right: 10px;
        background-color: rgb(253, 171, 89);
        border: none;
        outline: none;
        border-bottom:1px solid black;
      }
      &__author{
        width: 30%;
        font-size: 20px;
        text-align: center;
      }
    }
    &__main{
      width: 100%;
      height: calc(580px - 200px);
      background-color: rgb(255, 243, 190);
      &__top{
        width: 100%;
        height: 30%;
        display: flex;
        &__left{
          width: 50%;
          height: 100%;
          font-size: 20px;
          padding: 40px;
          &__name{
            margin-bottom: 20px;
            border-bottom: 1px solid black;
          }
          &__rank{
            display: block;
          }
        }
        &__right{
          width: 50%;
          height: 100%;
          padding: 10px;
          position: relative;
          &__top{
            font-size: 20px;
          }
          &__bottom{
            font-size: 30px;
          }
          &__box{
            width: 100%;
            height: 65%;
            padding: 5px;
            background-color: whitesmoke;
            overflow: scroll;
            &__list{
              &__li{
                display: flex;
              }
            }
            &__member_list{
              &__li{
                display: flex;
              }
            }
          }
        }
      }
      &__middle{
        width: 100%;
        height: 30%;
        &__tags{
          width: 60%;
          height: 100%;
          padding-left: 10px;
          display: flex;
          align-items: center;
          &__title{
            margin-right: 5px;
            &__input{
              margin-left: 5px;
              margin-right: 5px;
            }
          }
        }
      }
      &__bottom{
        width: 100%;
        height: 40%;
        padding: 10px;
        &__comment{
          width: 100%;
          height: 100%;
          &__input{
            display: block;
            width: 100%;
            height: 70%;
            margin-bottom: 10px;
            outline: none;
          }
          &__submit{
            display: block;
            width: 20%;
            float: right;
          }
        }
        
      }
    }
    &__footer{
      width: 100%;
      height: 100px;
      background-color:rgb(253, 171, 89);
      display: flex;
      
      &__left{
        width: 80%;
        height: 100%;
      }
      &__right{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__join{
          width: 100px;
          height: 40px;
          background-color: rgb(208, 238, 149);
          border-radius: 10px;
          box-shadow: 2px 2px 4px gray;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          &:active{
            transform: translateY(4px);/*下に動く*/
            box-shadow: 0px 0px 1px;
            border: none;
          }  
        }
        &__submit{
          display: none;
        }
      }
    }
  }
}
#search_name{
  &:hover{
    cursor : pointer;
  }
}
#member_name{
  &:hover{
    cursor : pointer;
  }
}
 